Encoding/building.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bldg="http://www.opengis.net/citygml/building/3.0" xmlns:con="http://www.opengis.net/citygml/construction/3.0" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/citygml/building/3.0" version="3.0.0">
  <import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="./cityGMLBase.xsd"/>
  <import namespace="http://www.opengis.net/citygml/construction/3.0" schemaLocation="./construction.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <complexType name="AbstractBuildingPropertyType">
    <choice minOccurs="0">
      <element ref="bldg:Building"/>
      <element ref="bldg:BuildingPart"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractBuildingSubdivision" substitutionGroup="core:AbstractLogicalSpace" type="bldg:AbstractBuildingSubdivisionType">
    <annotation>
      <documentation>The abstract superclass for representing various types of subdivisions a building can contain. The superclass provides several attributes for providing specific information about the subdivision such as the function and usage, the height, the space type (i.e., whether the subdivision is closed, open or semi-open) and the number of occupants.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractBuildingSubdivisionType">
    <complexContent>
      <extension base="core:AbstractLogicalSpaceType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="elevation" type="con:ElevationPropertyType">
            <annotation>
              <documentation>[INSPIRE] Vertically-constrained dimensional property consisting of an absolute measure referenced to a well-defined surface which is commonly taken as origin (geoïd, water level, etc.).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sortKey" type="double">
            <annotation>
              <documentation>Defines an order among the building unit objects, e.g. for sorting storeys.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="buildingSubdivisionConstructiveElement" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">bldg:BuildingConstructiveElement</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="buildingSubdivisionFurniture">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">bldg:BuildingFurniture</targetElement>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="buildingSubdivisionInstallation">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">bldg:BuildingInstallation</targetElement>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="room" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">bldg:Room</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractBuildingSubdivisionPropertyType">
    <sequence minOccurs="0">
      <element ref="bldg:AbstractBuildingSubdivision"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Building" substitutionGroup="core:AbstractTopLevelCityObject" type="bldg:BuildingType">
    <annotation>
      <documentation>SIG3D: A free-standing, self-supporting construction that is roofed, usually walled, and can be entered by humans and is normally designed to stand permanently in one place. It is intended for human occupancy (for example: a place of work or recreation), habitation and/or shelter of humans, animals or things.</documentation>
    </annotation>
  </element>
  <complexType name="BuildingType">
    <complexContent>
      <extension base="core:AbstractTopLevelCityObjectType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Classification of Building or BuildingPart as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Specified function of Building or BuildingPart as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Actual usage of Building or BuildingPart as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="roofType" type="gml:CodeType">
            <annotation>
              <documentation>bSI: Basic configuration of the roof in terms of the different roof shapes.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="storeysAboveGround" type="integer">
            <annotation>
              <documentation>SIG3D: Number of storeys mainly above ground.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="storeysBelowGround" type="integer">
            <annotation>
              <documentation>SIG3D: Number of storeys mainly below ground.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="storeyHeightsAboveGround" type="gml:MeasureOrNilReasonListType">
            <annotation>
              <documentation>SIG3D: List of heights for each storey above ground.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="storeyHeightsBelowGround" type="gml:MeasureOrNilReasonListType">
            <annotation>
              <documentation>SIG3D: List of heights for each storey below ground.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="buildingSpace" type="con:ConstructionSpacePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="address" type="core:AddressPropertyType">
            <annotation>
              <documentation>SIG3D: Relation between Building or BuildingPart and Address</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="buildingSubdivision">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence>
                    <element ref="bldg:AbstractBuildingSubdivision"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="interiorRoom">
            <annotation>
              <documentation>SIG3D: Relation between Building or BuildingPart and Room.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence>
                    <element ref="bldg:Room"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="buildingInstallation">
            <annotation>
              <documentation>SIG3D: Relation between Building or BuildingPart and BuildingInstallation.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence>
                    <element ref="bldg:BuildingInstallation"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="buildingFurniture">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence>
                    <element ref="bldg:BuildingFurniture"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="buildingConstructiveElement">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence>
                    <element ref="bldg:BuildingConstructiveElement"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="conditionOfConstruction" type="con:ConditionOfConstructionValueType">
            <annotation>
              <documentation>[INSPIRE] Status of the construction.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dateOfConstruction" type="date">
            <annotation>
              <documentation>Date of completion of a construction.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="dateOfRenovation" type="date">
            <annotation>
              <documentation>Date of renovation of a construction.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dateOfDemolition" type="date">
            <annotation>
              <documentation>Date of demolition of a construction.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="elevation" type="con:ElevationPropertyType">
            <annotation>
              <documentation>[INSPIRE] Vertically-constrained dimensional property consisting of an absolute measure referenced to a well-defined surface which is commonly taken as origin (geoïd, water level, etc.).</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="heightAboveGround" type="con:HeightAboveGroundPropertyType">
            <annotation>
              <documentation>[INSPIRE] Height above ground.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="buildingPart">
            <annotation>
              <documentation>Relation between Building and BuildingPart.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="bldg:BuildingPart"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingPropertyType">
    <sequence minOccurs="0">
      <element ref="bldg:Building"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BuildingConstructiveElement" substitutionGroup="con:AbstractConstructiveElement" type="bldg:BuildingConstructiveElementType"/>
  <complexType name="BuildingConstructiveElementType">
    <complexContent>
      <extension base="con:AbstractConstructiveElementType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingConstructiveElementPropertyType">
    <sequence minOccurs="0">
      <element ref="bldg:BuildingConstructiveElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BuildingFurniture" substitutionGroup="con:AbstractFurniture" type="bldg:BuildingFurnitureType">
    <annotation>
      <documentation>SIG3D: Equipment for occupant use, usually not fixed to the building (cf. ISO 6707-1) .</documentation>
    </annotation>
  </element>
  <complexType name="BuildingFurnitureType">
    <complexContent>
      <extension base="con:AbstractFurnitureType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Classification of BuildingFurniture as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Specified function of BuildingFurniture as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Actual usage of BuildingFurniture as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingFurniturePropertyType">
    <sequence minOccurs="0">
      <element ref="bldg:BuildingFurniture"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BuildingInstallation" substitutionGroup="con:AbstractInstallation" type="bldg:BuildingInstallationType">
    <annotation>
      <documentation>SIG3D: Permanently installed parts of the building's outer shell which are accessory for the building structure including loggia, dormer, etc. Doors and windows are modeled by the corresponding CityGML classes.</documentation>
    </annotation>
  </element>
  <complexType name="BuildingInstallationType">
    <complexContent>
      <extension base="con:AbstractInstallationType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Classification of BuildingInstallation as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Specified function of BuildingInstallation as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Actual usage of BuildingInstallation as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingInstallationPropertyType">
    <sequence minOccurs="0">
      <element ref="bldg:BuildingInstallation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BuildingPart" substitutionGroup="core:AbstractCityObject" type="bldg:BuildingPartType">
    <annotation>
      <documentation>SIG3D: A BuildingPart is a sub-division of a Building that is homogeneous related to its physical, functional, or temporal aspects and may be considered as a Building.</documentation>
    </annotation>
  </element>
  <complexType name="BuildingPartType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Classification of Building or BuildingPart as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Specified function of Building or BuildingPart as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Actual usage of Building or BuildingPart as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="roofType" type="gml:CodeType">
            <annotation>
              <documentation>bSI: Basic configuration of the roof in terms of the different roof shapes.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="storeysAboveGround" type="integer">
            <annotation>
              <documentation>SIG3D: Number of storeys mainly above ground.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="storeysBelowGround" type="integer">
            <annotation>
              <documentation>SIG3D: Number of storeys mainly below ground.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="storeyHeightsAboveGround" type="gml:MeasureOrNilReasonListType">
            <annotation>
              <documentation>SIG3D: List of heights for each storey above ground.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="storeyHeightsBelowGround" type="gml:MeasureOrNilReasonListType">
            <annotation>
              <documentation>SIG3D: List of heights for each storey below ground.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="buildingSpace" type="con:ConstructionSpacePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="address" type="core:AddressPropertyType">
            <annotation>
              <documentation>SIG3D: Relation between Building or BuildingPart and Address</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="buildingSubdivision">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence>
                    <element ref="bldg:AbstractBuildingSubdivision"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="interiorRoom">
            <annotation>
              <documentation>SIG3D: Relation between Building or BuildingPart and Room.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence>
                    <element ref="bldg:Room"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="buildingInstallation">
            <annotation>
              <documentation>SIG3D: Relation between Building or BuildingPart and BuildingInstallation.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence>
                    <element ref="bldg:BuildingInstallation"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="buildingFurniture">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence>
                    <element ref="bldg:BuildingFurniture"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="buildingConstructiveElement">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence>
                    <element ref="bldg:BuildingConstructiveElement"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="conditionOfConstruction" type="con:ConditionOfConstructionValueType">
            <annotation>
              <documentation>[INSPIRE] Status of the construction.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dateOfConstruction" type="date">
            <annotation>
              <documentation>Date of completion of a construction.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="dateOfRenovation" type="date">
            <annotation>
              <documentation>Date of renovation of a construction.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dateOfDemolition" type="date">
            <annotation>
              <documentation>Date of demolition of a construction.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="elevation" type="con:ElevationPropertyType">
            <annotation>
              <documentation>[INSPIRE] Vertically-constrained dimensional property consisting of an absolute measure referenced to a well-defined surface which is commonly taken as origin (geoïd, water level, etc.).</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="heightAboveGround" type="con:HeightAboveGroundPropertyType">
            <annotation>
              <documentation>[INSPIRE] Height above ground.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingPartPropertyType">
    <sequence minOccurs="0">
      <element ref="bldg:BuildingPart"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BuildingUnit" substitutionGroup="bldg:AbstractBuildingSubdivision" type="bldg:BuildingUnitType">
    <annotation>
      <documentation>This object corresponds to "BuildingUnit" from INSPIRE: A semantic object for representing subdivisions of a building with their own lockable access from the outside or from a common area (i.e. not from another BuildingUnit), which are atomic, functionally independent, and may be separately sold, rented out, inherited, etc. [INSPIRE D2.8.III.2_v3.0].</documentation>
    </annotation>
  </element>
  <complexType name="BuildingUnitType">
    <complexContent>
      <extension base="bldg:AbstractBuildingSubdivisionType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="storey" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">bldg:Storey</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">bldg:buildingUnit</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="address" type="core:AddressPropertyType">
            <annotation>
              <documentation>SIG3D: Relation between BuildingUnit and Address.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingUnitPropertyType">
    <sequence minOccurs="0">
      <element ref="bldg:BuildingUnit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Room" substitutionGroup="core:AbstractUnoccupiedSpace" type="bldg:RoomType">
    <annotation>
      <documentation>A semantic object for modelling the free space inside a building. This object corresponds to "Room" in CityGML 2.0. The inherited attribute spaceType allows for defining the closedness of a room. A room with ceiling, for instance, would be defined as closed, whereas an room representing an atrium would be defined as open or semi-open.</documentation>
    </annotation>
  </element>
  <complexType name="RoomType">
    <complexContent>
      <extension base="core:AbstractUnoccupiedSpaceType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Classification of Room as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Function of Room as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Usage of Room as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="roomHeight">
            <annotation>
              <documentation>Height of the room.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="bldg:RoomHeight"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="roomInstallation">
            <annotation>
              <documentation>SIG3D: Relation between Room and IntBuildingInstallation</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">bldg:BuildingInstallation</targetElement>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="interiorFurniture">
            <annotation>
              <documentation>SIG3D: Relation between Room and BuildingFurniture</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">bldg:BuildingFurniture</targetElement>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoomPropertyType">
    <sequence minOccurs="0">
      <element ref="bldg:Room"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="RoomElevationReferenceValueType">
    <annotation>
      <documentation>List of possible elements considered to capture a vertical geometry for measuring the room height.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="tbd"/>
    </restriction>
  </simpleType>
  <element name="RoomHeight" substitutionGroup="gml:AbstractGML" type="bldg:RoomHeightType">
    <annotation>
      <documentation>[INSPIRE] Vertical distance (measured or estimated) between a low reference and a high reference.</documentation>
    </annotation>
  </element>
  <complexType name="RoomHeightType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="heightReference" type="bldg:RoomElevationReferenceValueType">
            <annotation>
              <documentation>[INSPIRE] Element used as the high reference.</documentation>
            </annotation>
          </element>
          <element name="lowReference" type="bldg:RoomElevationReferenceValueType">
            <annotation>
              <documentation>[INSPIRE] Element as the low reference.</documentation>
            </annotation>
          </element>
          <element name="status" type="con:HeightStatusValueType">
            <annotation>
              <documentation>[INSPIRE] The way the height has been captured.</documentation>
            </annotation>
          </element>
          <element name="value" type="gml:LengthType">
            <annotation>
              <documentation>Value of the room height.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoomHeightPropertyType">
    <sequence minOccurs="0">
      <element ref="bldg:RoomHeight"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Storey" substitutionGroup="bldg:AbstractBuildingSubdivision" type="bldg:StoreyType">
    <annotation>
      <documentation>A semantic object for representing storeys of a building.</documentation>
    </annotation>
  </element>
  <complexType name="StoreyType">
    <complexContent>
      <extension base="bldg:AbstractBuildingSubdivisionType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="buildingUnit" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">bldg:BuildingUnit</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">bldg:storey</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StoreyPropertyType">
    <sequence minOccurs="0">
      <element ref="bldg:Storey"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
