Encoding/cityGMLBase.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:app="http://www.opengis.net/citygml/appearance/3.0" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:dyn="http://www.opengis.net/citygml/dynamizer/3.0" xmlns:gen="http://www.opengis.net/citygml/generics/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:vers="http://www.opengis.net/citygml/versioning/3.0" xmlns:xAL="urn:oasis:names:tc:ciq:xsdschema:xAL:2.0" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/citygml/3.0" version="3.0.0">
  <import namespace="http://www.opengis.net/citygml/appearance/3.0" schemaLocation="./appearance.xsd"/>
  <import namespace="http://www.opengis.net/citygml/dynamizer/3.0" schemaLocation="./dynamizer.xsd"/>
  <import namespace="http://www.opengis.net/citygml/generics/3.0" schemaLocation="./generics.xsd"/>
  <import namespace="http://www.opengis.net/citygml/versioning/3.0" schemaLocation="./versioning.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:oasis:names:tc:ciq:xsdschema:xAL:2.0" schemaLocation="http://schemas.opengis.net/citygml/xAL/xAL.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="AbstractBoundaryRelation" substitutionGroup="gml:AbstractGML" type="core:AbstractBoundaryRelationType"/>
  <complexType name="AbstractBoundaryRelationType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="boundaryRelation" type="core:AbstractSpaceBoundaryPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractBoundaryRelationPropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractBoundaryRelation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractCityObject" substitutionGroup="core:AbstractFeatureWithLifespan" type="core:AbstractCityObjectType">
    <annotation>
      <documentation>SIG3D: Abstract super class of all thematic classes within CityGML data model.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractCityObjectType">
    <complexContent>
      <extension base="core:AbstractFeatureWithLifespanType">
        <sequence>
          <element minOccurs="0" name="relativeToTerrain" type="core:RelativeToTerrainType">
            <annotation>
              <documentation>SIG3D: Vertical position of the 
AbstractCityObject relative to the surrounding terrain.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="relativeToWater" type="core:RelativeToWaterType">
            <annotation>
              <documentation>SIG3D: Vertical position of the AbstractCityObject relative to a surrounding water surface.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="externalReference" type="core:ExternalReferencePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="generalizesTo" type="core:AbstractCityObjectPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="appearance">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="app:Appearance"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="genericAttribute" type="gen:AbstractGenericAttributePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="dynamizer" type="dyn:DynamizerPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractCityObjectPropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractCityObject"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractFeatureWithLifespan" substitutionGroup="gml:AbstractFeature" type="core:AbstractFeatureWithLifespanType"/>
  <complexType abstract="true" name="AbstractFeatureWithLifespanType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="creationDate" type="dateTime"/>
          <element minOccurs="0" name="terminationDate" type="dateTime"/>
          <element minOccurs="0" name="validFrom" type="dateTime"/>
          <element minOccurs="0" name="validTo" type="dateTime"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractFeatureWithLifespanPropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractFeatureWithLifespan"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractLogicalSpace" substitutionGroup="core:AbstractSpace" type="core:AbstractLogicalSpaceType"/>
  <complexType abstract="true" name="AbstractLogicalSpaceType">
    <complexContent>
      <extension base="core:AbstractSpaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractLogicalSpacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractLogicalSpace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractOccupiedSpace" substitutionGroup="core:AbstractPhysicalSpace" type="core:AbstractOccupiedSpaceType"/>
  <complexType abstract="true" name="AbstractOccupiedSpaceType">
    <complexContent>
      <extension base="core:AbstractPhysicalSpaceType">
        <sequence>
          <element minOccurs="0" name="lod1ImplicitRepresentation" type="core:ImplicitGeometryPropertyType">
            <annotation>
              <documentation>Relation to LOD1 implicit geometry of AbstractOccupiedSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod2ImplicitRepresentation" type="core:ImplicitGeometryPropertyType">
            <annotation>
              <documentation>Relation to LOD2 implicit geometry of AbstractOccupiedSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod3ImplicitRepresentation" type="core:ImplicitGeometryPropertyType">
            <annotation>
              <documentation>Relation to LOD3 implicit geometry of AbstractOccupiedSpace.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractOccupiedSpacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractOccupiedSpace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractPhysicalSpace" substitutionGroup="core:AbstractSpace" type="core:AbstractPhysicalSpaceType"/>
  <complexType abstract="true" name="AbstractPhysicalSpaceType">
    <complexContent>
      <extension base="core:AbstractSpaceType">
        <sequence>
          <element minOccurs="0" name="lod1TerrainIntersectionCurve" type="gml:MultiCurvePropertyType">
            <annotation>
              <documentation>SIG 3D: Relation to intersection curve(s) between an LOD1 AbstractPhysicalSpace and a terrain (LOD1 or LOD2 or LOD3).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod2TerrainIntersectionCurve" type="gml:MultiCurvePropertyType">
            <annotation>
              <documentation>SIG 3D: Relation to intersection curve(s) between an LOD2 AbstractPhysicalSpace and a terrain (LOD1 or LOD2 or LOD3).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod3TerrainIntersectionCurve" type="gml:MultiCurvePropertyType">
            <annotation>
              <documentation>SIG 3D: Relation to intersection curve(s) between an LOD3 AbstractPhysicalSpace and a terrain (LOD1 or LOD2 or LOD3).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="pointCloud" type="core:PointCloudPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractPhysicalSpacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractPhysicalSpace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractSpace" substitutionGroup="core:AbstractCityObject" type="core:AbstractSpaceType"/>
  <complexType abstract="true" name="AbstractSpaceType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element minOccurs="0" name="occupancyDaytime" type="integer"/>
          <element minOccurs="0" name="occupancyNighttime" type="integer"/>
          <element minOccurs="0" name="spaceType" type="core:SpaceTypeType">
            <annotation>
              <documentation>Degree of openness of an abstract space.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="boundary" type="core:AbstractSpaceBoundaryPropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">core:bounds</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="spaceRelation" type="core:AbstractSpaceRelationPropertyType"/>
          <element minOccurs="0" name="lod0Point" type="gml:PointPropertyType">
            <annotation>
              <documentation>Relation to a  LOD0 point geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod0MultiSurface" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>Relation to a  LOD0 surface geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod1Solid" type="gml:SolidPropertyType">
            <annotation>
              <documentation>Relation to a  LOD1 solid geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod2MultiSurface" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>Relation to a  LOD2 surface geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod2Solid" type="gml:SolidPropertyType">
            <annotation>
              <documentation>Relation to a  LOD2 solid geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod2MultiCurve" type="gml:MultiCurvePropertyType">
            <annotation>
              <documentation>Relation to a  LOD2 curve geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod3MultiSurface" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>Relation to a  LOD3 surface geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod3Solid" type="gml:SolidPropertyType">
            <annotation>
              <documentation>Relation to a  LOD3 solid geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod3MultiCurve" type="gml:MultiCurvePropertyType">
            <annotation>
              <documentation>Relation to a  LOD3 curve geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractSpacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractSpace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractSpaceBoundary" substitutionGroup="core:AbstractCityObject" type="core:AbstractSpaceBoundaryType"/>
  <complexType abstract="true" name="AbstractSpaceBoundaryType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="bounds" type="core:AbstractSpacePropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">core:boundary</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="boundaryRelation" type="core:AbstractBoundaryRelationPropertyType"/>
          <element minOccurs="0" name="lod0MultiCurve" type="gml:MultiCurvePropertyType">
            <annotation>
              <documentation>Relation to a  LOD0 curve geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod1MultiSurface" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>Relation to a  LOD1 surface geometry of AbstractSpaceBoundary.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod2MultiSurface" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>Relation to a  LOD2 surface geometry of AbstractSpaceBoundary.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod3MultiSurface" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>Relation to a  LOD3 surface geometry of AbstractSpaceBoundary.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractSpaceBoundaryPropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractSpaceBoundary"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractSpaceRelation" substitutionGroup="gml:AbstractGML" type="core:AbstractSpaceRelationType"/>
  <complexType abstract="true" name="AbstractSpaceRelationType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="spaceRelation" type="core:AbstractSpacePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractSpaceRelationPropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractSpaceRelation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractThematicSurface" substitutionGroup="core:AbstractSpaceBoundary" type="core:AbstractThematicSurfaceType"/>
  <complexType abstract="true" name="AbstractThematicSurfaceType">
    <complexContent>
      <extension base="core:AbstractSpaceBoundaryType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="opening">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="core:AbstractVoidSurface"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="pointCloud" type="core:PointCloudPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractThematicSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractThematicSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractTopLevelCityObject" substitutionGroup="core:AbstractCityObject" type="core:AbstractTopLevelCityObjectType"/>
  <complexType abstract="true" name="AbstractTopLevelCityObjectType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractTopLevelCityObjectPropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractTopLevelCityObject"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractUnoccupiedSpace" substitutionGroup="core:AbstractPhysicalSpace" type="core:AbstractUnoccupiedSpaceType"/>
  <complexType abstract="true" name="AbstractUnoccupiedSpaceType">
    <complexContent>
      <extension base="core:AbstractPhysicalSpaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractUnoccupiedSpacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractUnoccupiedSpace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractVoid" substitutionGroup="core:AbstractUnoccupiedSpace" type="core:AbstractVoidType">
    <annotation>
      <documentation>SIG3D: Abstract super class of Window and Door</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractVoidType">
    <complexContent>
      <extension base="core:AbstractUnoccupiedSpaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractVoidPropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractVoid"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractVoidSurface" substitutionGroup="core:AbstractSpaceBoundary" type="core:AbstractVoidSurfaceType"/>
  <complexType abstract="true" name="AbstractVoidSurfaceType">
    <complexContent>
      <extension base="core:AbstractSpaceBoundaryType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractVoidSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractVoidSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Address" substitutionGroup="gml:AbstractFeature" type="core:AddressType">
    <annotation>
      <documentation>SIG3D: Proxy for the OASIS address schema</documentation>
    </annotation>
  </element>
  <complexType name="AddressType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="xalAddress">
            <annotation>
              <documentation>SIG3D: Relation to an OASIS address object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="xAL:AddressDetails"/>
              </sequence>
            </complexType>
          </element>
          <element minOccurs="0" name="multiPoint" type="gml:MultiPointPropertyType">
            <annotation>
              <documentation>SIG3D: Spatial reference of the address, e. g. positions of building entrances.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AddressPropertyType">
    <sequence minOccurs="0">
      <element ref="core:Address"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="BoundaryRelationTypeType">
    <restriction base="string">
      <enumeration value="disjoint"/>
      <enumeration value="equal"/>
      <enumeration value="touch"/>
      <enumeration value="overlap"/>
      <enumeration value="covers"/>
      <enumeration value="coveredBy"/>
      <enumeration value="inside"/>
      <enumeration value="contains"/>
    </restriction>
  </simpleType>
  <element name="CityModel" substitutionGroup="core:AbstractFeatureWithLifespan" type="core:CityModelType">
    <annotation>
      <documentation>SIG3D: Collection of CityObjects with optional metadata.</documentation>
    </annotation>
  </element>
  <complexType name="CityModelType">
    <complexContent>
      <extension base="core:AbstractFeatureWithLifespanType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="cityObjectMember">
            <annotation>
              <documentation>SIG3D: Relation of CityModel to AbstractTopLevelCityObject.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="core:AbstractTopLevelCityObject"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="appearanceMember">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="app:Appearance"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="versionMember">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="vers:Version"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="versionTransitionMember">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="vers:VersionTransition"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CityModelPropertyType">
    <sequence minOccurs="0">
      <element ref="core:CityModel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ClosureSurface" substitutionGroup="core:AbstractSpaceBoundary" type="core:ClosureSurfaceType"/>
  <complexType name="ClosureSurfaceType">
    <complexContent>
      <extension base="core:AbstractSpaceBoundaryType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ClosureSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:ClosureSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="DoubleBetween0and1Type">
    <restriction base="double">
      <minInclusive value="0"/>
      <maxInclusive value="1"/>
    </restriction>
  </simpleType>
  <simpleType name="DoubleBetween0and1ListType">
    <restriction base="gml:doubleList"/>
  </simpleType>
  <element name="ExternalReference" substitutionGroup="gml:AbstractObject" type="core:ExternalReferenceType">
    <annotation>
      <documentation>SIG3D: Reference to a corresponding object in another information system, for example in the German cadastre (ALKIS), the German topographic information system (ATKIS), or the OS UK MasterMap®.</documentation>
    </annotation>
  </element>
  <complexType name="ExternalReferenceType">
    <sequence>
      <element name="targetResource" type="anyURI">
        <annotation>
          <documentation>SIG3D: Referenced object in the external information system or data set.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="informationSystem" type="anyURI">
        <annotation>
          <documentation>SIG3D: URL or URN of the information system or data set.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="relationType" type="anyURI"/>
    </sequence>
  </complexType>
  <complexType name="ExternalReferencePropertyType">
    <sequence>
      <element ref="core:ExternalReference"/>
    </sequence>
  </complexType>
  <element name="GenericSurface" substitutionGroup="core:AbstractSpaceBoundary" type="core:GenericSurfaceType"/>
  <complexType name="GenericSurfaceType">
    <complexContent>
      <extension base="core:AbstractSpaceBoundaryType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GenericSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:GenericSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="GeometricBoundaryRelation" substitutionGroup="core:AbstractBoundaryRelation" type="core:GeometricBoundaryRelationType"/>
  <complexType name="GeometricBoundaryRelationType">
    <complexContent>
      <extension base="core:AbstractBoundaryRelationType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeometricBoundaryRelationPropertyType">
    <sequence minOccurs="0">
      <element ref="core:GeometricBoundaryRelation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="GeometricSpaceRelation" substitutionGroup="core:AbstractSpaceRelation" type="core:GeometricSpaceRelationType"/>
  <complexType name="GeometricSpaceRelationType">
    <complexContent>
      <extension base="core:AbstractSpaceRelationType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeometricSpaceRelationPropertyType">
    <sequence minOccurs="0">
      <element ref="core:GeometricSpaceRelation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ImplicitGeometry" substitutionGroup="gml:AbstractFeature" type="core:ImplicitGeometryType">
    <annotation>
      <documentation>SIG3D: A  geometric representation where the shape is stored only once as a prototypical geometry, for example a tree or other vegetation object, a traffic light or a traffic sign. This prototypic geometry object can be re-used or referenced many times, wherever the corresponding feature occurs in the 3D city model.</documentation>
    </annotation>
  </element>
  <complexType name="ImplicitGeometryType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="appearance">
            <complexType>
              <sequence>
                <element ref="app:Appearance"/>
              </sequence>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
          <element minOccurs="0" name="transformationMatrix" type="core:TransformationMatrix4x4Type">
            <annotation>
              <documentation>SIG3D: Mathematical transformation (translation, rotation and scaling) between the prototype geometry and the actual spatial position of the object.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="mimeType" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Mime type of the referenced external geometric object (attribute libraryObject).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="libraryObject" type="anyURI">
            <annotation>
              <documentation>SIG3D: External link to a prototype geometry.</documentation>
            </annotation>
          </element>
          <element name="referencePoint" type="gml:PointPropertyType">
            <annotation>
              <documentation>SIG3D: Base point of the object in the world coordinate system.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="relativeGMLGeometry" type="gml:GeometryPropertyType">
            <annotation>
              <documentation>SIG3D: Geometry of the prototype, specified in a local coordinate system.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ImplicitGeometryPropertyType">
    <sequence minOccurs="0">
      <element ref="core:ImplicitGeometry"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IntegerBetween0and3Type">
    <restriction base="integer">
      <minInclusive value="0"/>
      <maxInclusive value="3"/>
    </restriction>
  </simpleType>
  <element name="PointCloud" substitutionGroup="gml:AbstractFeature" type="core:PointCloudType"/>
  <complexType name="PointCloudType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="mimeType" type="gml:CodeType"/>
          <element name="pointFile" type="anyURI"/>
          <element name="pointFileSrsName" type="string"/>
          <element minOccurs="0" name="points" type="gml:MultiPointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PointCloudPropertyType">
    <sequence minOccurs="0">
      <element ref="core:PointCloud"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="RelativeToTerrainType">
    <annotation>
      <documentation>SIG3D: Enumeration of the CityObject property relativeToTerrain.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="entirelyAboveTerrain">
        <annotation>
          <documentation>SIG3D: Object is located entirely above terrain.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="substantiallyAboveTerrain">
        <annotation>
          <documentation>SIG3D:  Most, but not all parts of the object are located above terrain.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="substantiallyAboveAndBelowTerrain">
        <annotation>
          <documentation>SIG3D: Parts of the object are located above terrain, and other parts below terrain.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="substantiallyBelowTerrain">
        <annotation>
          <documentation>SIG3D: Most, but not all parts of the object are located below terrain.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="entirelyBelowTerrain">
        <annotation>
          <documentation>SIG3D: All parts of the object are located below terrain.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RelativeToWaterType">
    <annotation>
      <documentation>SIG3D: Enumeration of the CityObject property relativeToWater.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="entirelyAboveWaterSurface">
        <annotation>
          <documentation>SIG3D: Object is located entirely above water surface.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="substantiallyAboveWaterSurface">
        <annotation>
          <documentation>SIG3D: Most, but not all parts of the object are located above water surface.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="substantiallyAboveAndBelowWaterSurface">
        <annotation>
          <documentation>SIG3D: Parts of the object are located above water surface, and other parts below water surface.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="substantiallyBelowWaterSurface">
        <annotation>
          <documentation>SIG3D: Most, but not all parts of the object are located below water surface.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="entirelyBelowWaterSurface">
        <annotation>
          <documentation>SIG3D: All parts of the object are located below water surface.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="temporarilyAboveAndBelowWaterSurface">
        <annotation>
          <documentation>SIG3D: The height of the water surface is varying and the object temporily is located above or below water level.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="ReliefSurface" substitutionGroup="core:AbstractThematicSurface" type="core:ReliefSurfaceType"/>
  <complexType name="ReliefSurfaceType">
    <complexContent>
      <extension base="core:AbstractThematicSurfaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReliefSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:ReliefSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SpaceRelationTypeType">
    <restriction base="string">
      <enumeration value="disjoint"/>
      <enumeration value="equal"/>
      <enumeration value="touch"/>
      <enumeration value="overlap"/>
      <enumeration value="covers"/>
      <enumeration value="coveredBy"/>
      <enumeration value="inside"/>
      <enumeration value="contains"/>
    </restriction>
  </simpleType>
  <simpleType name="SpaceTypeType">
    <restriction base="string">
      <enumeration value="closed">
        <annotation>
          <documentation>boundaries at all sides</documentation>
        </annotation>
      </enumeration>
      <enumeration value="open">
        <annotation>
          <documentation>boundary at the bottom only</documentation>
        </annotation>
      </enumeration>
      <enumeration value="semiOpen">
        <annotation>
          <documentation>at least one side has a boundary</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="ThematicBoundaryRelation" substitutionGroup="core:AbstractBoundaryRelation" type="core:ThematicBoundaryRelationType"/>
  <complexType name="ThematicBoundaryRelationType">
    <complexContent>
      <extension base="core:AbstractBoundaryRelationType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ThematicBoundaryRelationPropertyType">
    <sequence minOccurs="0">
      <element ref="core:ThematicBoundaryRelation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ThematicSpaceRelation" substitutionGroup="core:AbstractSpaceRelation" type="core:ThematicSpaceRelationType"/>
  <complexType name="ThematicSpaceRelationType">
    <complexContent>
      <extension base="core:AbstractSpaceRelationType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ThematicSpaceRelationPropertyType">
    <sequence minOccurs="0">
      <element ref="core:ThematicSpaceRelation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TopologicBoundaryRelation" substitutionGroup="core:AbstractBoundaryRelation" type="core:TopologicBoundaryRelationType"/>
  <complexType name="TopologicBoundaryRelationType">
    <complexContent>
      <extension base="core:AbstractBoundaryRelationType">
        <sequence>
          <element name="relation" type="core:BoundaryRelationTypeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TopologicBoundaryRelationPropertyType">
    <sequence minOccurs="0">
      <element ref="core:TopologicBoundaryRelation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TopologicSpaceRelation" substitutionGroup="core:AbstractSpaceRelation" type="core:TopologicSpaceRelationType"/>
  <complexType name="TopologicSpaceRelationType">
    <complexContent>
      <extension base="core:AbstractSpaceRelationType">
        <sequence>
          <element name="relation" type="core:SpaceRelationTypeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TopologicSpaceRelationPropertyType">
    <sequence minOccurs="0">
      <element ref="core:TopologicSpaceRelation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TransformationMatrix2x2Type">
    <annotation>
      <documentation>SIG3D: 2x2 Transformation matrix (z-rotation and scaling)</documentation>
    </annotation>
    <restriction base="gml:doubleList"/>
  </simpleType>
  <simpleType name="TransformationMatrix3x4Type">
    <annotation>
      <documentation>SIG3D: 3x4 transformation matrix, (arbitrary rotation and scaling and translation).</documentation>
    </annotation>
    <restriction base="gml:doubleList"/>
  </simpleType>
  <simpleType name="TransformationMatrix4x4Type">
    <annotation>
      <documentation>SIG3D: Transformation matrix with 4 rows and columns, used for simultaneously specifying translation, rotation and scaling.</documentation>
    </annotation>
    <restriction base="gml:doubleList"/>
  </simpleType>
</schema>
