Encoding/relief.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:dem="http://www.opengis.net/citygml/relief/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlcov="http://www.opengis.net/gmlcov/1.0" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/citygml/relief/3.0" version="3.0.0">
  <import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="./cityGMLBase.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/gmlcov/1.0" schemaLocation="http://schemas.opengis.net/gmlcov/1.0/gmlcovAll.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractReliefComponent" substitutionGroup="core:ReliefSurface" type="dem:AbstractReliefComponentType">
    <annotation>
      <documentation>SIG3D: Abstract superclass of TINRelief, MassPointRelief, RasterRelief and BreaklineRelief</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractReliefComponentType">
    <complexContent>
      <extension base="core:ReliefSurfaceType">
        <sequence>
          <element name="lod" type="core:IntegerBetween0and3Type">
            <annotation>
              <documentation>SIG3D: Number denoting the LOD of the relief component. The LOD concept for the relief is defined in chapter ...</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="extent" type="gml:SurfacePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractReliefComponentPropertyType">
    <sequence minOccurs="0">
      <element ref="dem:AbstractReliefComponent"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BreaklineRelief" substitutionGroup="dem:AbstractReliefComponent" type="dem:BreaklineReliefType">
    <annotation>
      <documentation>SIG3D: Relief component represented by 3D lines denoting break lines or ridge/valley lines</documentation>
    </annotation>
  </element>
  <complexType name="BreaklineReliefType">
    <complexContent>
      <extension base="dem:AbstractReliefComponentType">
        <sequence>
          <element minOccurs="0" name="ridgeOrValleyLines" type="gml:MultiCurvePropertyType"/>
          <element minOccurs="0" name="breaklines" type="gml:MultiCurvePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BreaklineReliefPropertyType">
    <sequence minOccurs="0">
      <element ref="dem:BreaklineRelief"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="MassPointRelief" substitutionGroup="dem:AbstractReliefComponent" type="dem:MassPointReliefType">
    <annotation>
      <documentation>SIG3D: Relief component represented by 3D points.</documentation>
    </annotation>
  </element>
  <complexType name="MassPointReliefType">
    <complexContent>
      <extension base="dem:AbstractReliefComponentType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MassPointReliefPropertyType">
    <sequence minOccurs="0">
      <element ref="dem:MassPointRelief"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RasterRelief" substitutionGroup="dem:AbstractReliefComponent" type="dem:RasterReliefType">
    <annotation>
      <documentation>SIG3D: Relief component represented by a (GML) raster/grid.</documentation>
    </annotation>
  </element>
  <complexType name="RasterReliefType">
    <complexContent>
      <extension base="dem:AbstractReliefComponentType">
        <sequence>
          <element name="grid">
            <complexType>
              <sequence minOccurs="0">
                <element ref="gmlcov:ReferenceableGridCoverage"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RasterReliefPropertyType">
    <sequence minOccurs="0">
      <element ref="dem:RasterRelief"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ReliefFeature" substitutionGroup="core:AbstractTopLevelCityObject" type="dem:ReliefFeatureType">
    <annotation>
      <documentation>SIG3D: Feature aggregating the relief components which belong together.</documentation>
    </annotation>
  </element>
  <complexType name="ReliefFeatureType">
    <complexContent>
      <extension base="core:AbstractTopLevelCityObjectType">
        <sequence>
          <element name="lod" type="core:IntegerBetween0and3Type">
            <annotation>
              <documentation>SIG3D: Number denoting the LOD of the relief feature. The LOD concept for the relief is defined in chapter ...</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="reliefComponent">
            <annotation>
              <documentation>SIG3D: Relation of a ReliefFeature to its components.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="dem:AbstractReliefComponent"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReliefFeaturePropertyType">
    <sequence minOccurs="0">
      <element ref="dem:ReliefFeature"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TINRelief" substitutionGroup="dem:AbstractReliefComponent" type="dem:TINReliefType">
    <annotation>
      <documentation>SIG3D: Relief component represented as triangulated irregular network.</documentation>
    </annotation>
  </element>
  <complexType name="TINReliefType">
    <complexContent>
      <extension base="dem:AbstractReliefComponentType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TINReliefPropertyType">
    <sequence minOccurs="0">
      <element ref="dem:TINRelief"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
